# Mac crap
.DS_Store

# Emacs stuff
*~

# Profiling
gmon.out
*.o
*.a
#*.bc
*.dylib
*.so

# ocaml
*.cmi
*.cmx

#build products
.depend
lllex.ml
llparse.ml
llparse.mli

#test generation
*.out.ll

#executables
dltest
llvm2smt
parse
rawparse
